@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
  --primary-color: #e51058;
  --primary-color-hover: #f3296c;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-drag: none;
}

.f-12 {
  font-size: 12px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

